body {
	font-family: "Trebuchet MS", sans-serif;
	color: #164c89; /* text color */
	padding: 20px 200px;
}

/* navbar */
nav {
	background-color: #c5d2e5;
	display: flex;
	justify-content: space-between;
}
.right-nav-tabs {
}

/* links */
a {
	/* color: #007bff; */
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}
a:hover {
	/* color: #0056b3; */
	text-decoration: underline;
}

/* below: old styles */

img {
	max-width: 100%;
}

/* TODO: diff font sizes for headers */

/* use flex boxes to arrange things in columns */
.container {
	display: flex;
	gap: 20px; /* Space between columns */
	justify-content: space-around;
}

.column {
	flex: 1; /* Makes each column take equal space */
	padding: 10px;
	/* border: 1px solid black; */
	/* align-items: center; Centers items horizontally */
}

/* table styling */
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
th {
	text-align: center;
	color: #2e2ca9;
}
td {
	border: 1px solid;
	/* padding: 10px; */
}
