/* global styles */
body {
	font-family: "Trebuchet MS", sans-serif;
	color: #164c89; /* text color */
	font-size: 18px;
	/* css reset */
	box-sizing: border-box;
	margin: 0;
}
p {
	color: black;
}
.blue {
	color: #164c89;
}

/* navbar styles */
nav {
	background-color: #164c89;
	display: flex;
	justify-content: space-between;
	padding: 20px 30px;
}
.right-nav-tabs {
	display: flex;
	gap: 64px;
}

nav a {
	text-decoration: none;
	color: #dfeafa; /* text color */

	/* padding: 8px 8px;
	margin: 4px; */
	/* background-color: #c5d2e5;
	border-radius: 8px;
	transition: background-color 0.3s; */
}

nav a:hover {
	/* background-color: #164c89;
	color: #c5d2e5; */
	color: white;
}

/* main content styles (non-navbar) */
main {
	padding: 30px 15vw;
}

/* put things as rows */
.row {
	display: flex;
	justify-content: space-between; /* horizontally distribute items evenly */
	align-items: center; /* vertically center items */
	gap: 50px;
}

/* don't let images be huge */
img {
	max-width: 100%;
}

/* display images in a circle */
.img_circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

/* display non-square images as circles */
.img_wrapper {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	flex-shrink: 0;
	position: relative;
}

.img_wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* create scrollable image carousel */
.img_carousel {
	display: flex;
	flex-wrap: nowrap; /* <<< don't wrap to next line */
	gap: 10px;
	overflow-x: auto; /* <<< scroll horizontally if too wide */
	padding: 10px;
	scroll-snap-type: x mandatory; /* optional, for smooth snapping */
}

/* other links (email, github, etc) */
.links a,
.links a:visited {
	text-decoration: underline;
	color: #164c89;
}

.links a:hover {
	color: black;
}

/* project card styles */
.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	grid-gap: 50px;
}
.project-card {
	/* Add shadows to create the "card" effect */
	display: flex;
	flex-direction: column;
	box-shadow: 0 2px 4px 0 #164c89;
	transition: 0.3s;
	border-radius: 20px;
	background-color: #dfeafa;
	border: 2px solid #164c89;
	padding: 30px;
}

/* On mouse-over, add a deeper shadow */
.project-card:hover {
	box-shadow: 0 8px 16px 0 #164c89;
}

.cards a {
	text-decoration: none;
	color: inherit;
}

hr {
	width: 100%;
	border: 1px solid #164c89;
}
